<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Key</key>
		<string>filter_arts_blend</string>
		<key>Image</key>
		<string>Blend</string>
		<key>Lookup</key>
		<string>BLEND</string>
		<key>IsVip</key>
		<false/>
	</dict>
	<dict>
		<key>Key</key>
		<string>filter_arts_bluemoon</string>
		<key>Image</key>
		<string>BlueMoon</string>
		<key>Lookup</key>
		<string>BLUEMOON</string>
		<key>IsVip</key>
		<false/>
	</dict>
	<dict>
		<key>Key</key>
		<string>filter_arts_chalk</string>
		<key>Image</key>
		<string>Chalk</string>
		<key>Lookup</key>
		<string>CHALK</string>
		<key>IsVip</key>
		<false/>
	</dict>
	<dict>
		<key>Key</key>
		<string>filter_arts_comic</string>
		<key>Image</key>
		<string>Comic</string>
		<key>Lookup</key>
		<string>COMIC</string>
		<key>IsVip</key>
		<false/>
	</dict>
	<dict>
		<key>Key</key>
		<string>filter_arts_dot</string>
		<key>Image</key>
		<string>Dot</string>
		<key>Lookup</key>
		<string>DOT</string>
		<key>IsVip</key>
		<false/>
	</dict>
	<dict>
		<key>Key</key>
		<string>filter_arts_dream</string>
		<key>Image</key>
		<string>Dream</string>
		<key>Lookup</key>
		<string>DREAM</string>
		<key>IsVip</key>
		<false/>
	</dict>
	<dict>
		<key>Key</key>
		<string>filter_arts_dye</string>
		<key>Image</key>
		<string>Dye</string>
		<key>Lookup</key>
		<string>DYE</string>
		<key>IsVip</key>
		<true/>
	</dict>
	<dict>
		<key>Key</key>
		<string>filter_arts_frost</string>
		<key>Image</key>
		<string>Frost</string>
		<key>Lookup</key>
		<string>FROST</string>
		<key>IsVip</key>
		<true/>
	</dict>
	<dict>
		<key>Key</key>
		<string>filter_arts_gaze</string>
		<key>Image</key>
		<string>Gaze</string>
		<key>Lookup</key>
		<string>GAZE</string>
		<key>IsVip</key>
		<true/>
	</dict>
	<dict>
		<key>Key</key>
		<string>filter_arts_lucid</string>
		<key>Image</key>
		<string>Lucid</string>
		<key>Lookup</key>
		<string>LUCID</string>
		<key>IsVip</key>
		<true/>
	</dict>
	<dict>
		<key>Key</key>
		<string>filter_arts_marker</string>
		<key>Image</key>
		<string>Marker</string>
		<key>Lookup</key>
		<string>MARKER</string>
		<key>IsVip</key>
		<true/>
	</dict>
	<dict>
		<key>Key</key>
		<string>filter_arts_match</string>
		<key>Image</key>
		<string>Match</string>
		<key>Lookup</key>
		<string>MATCH</string>
		<key>IsVip</key>
		<true/>
	</dict>
	<dict>
		<key>Key</key>
		<string>filter_arts_memory</string>
		<key>Image</key>
		<string>Memory</string>
		<key>Lookup</key>
		<string>MEMORY</string>
		<key>IsVip</key>
		<true/>
	</dict>
	<dict>
		<key>Key</key>
		<string>filter_arts_orange</string>
		<key>Image</key>
		<string>Orange</string>
		<key>Lookup</key>
		<string>ORANGE</string>
		<key>IsVip</key>
		<true/>
	</dict>
	<dict>
		<key>Key</key>
		<string>filter_arts_portrait</string>
		<key>Image</key>
		<string>Portrait</string>
		<key>Lookup</key>
		<string>PORTRAIT</string>
		<key>IsVip</key>
		<true/>
	</dict>
	<dict>
		<key>Key</key>
		<string>filter_arts_radiant</string>
		<key>Image</key>
		<string>Radiant</string>
		<key>Lookup</key>
		<string>RADIANT</string>
		<key>IsVip</key>
		<true/>
	</dict>
	<dict>
		<key>Key</key>
		<string>filter_arts_rise</string>
		<key>Image</key>
		<string>Rise</string>
		<key>Lookup</key>
		<string>RISE</string>
		<key>IsVip</key>
		<true/>
	</dict>
	<dict>
		<key>Key</key>
		<string>filter_arts_scene</string>
		<key>Image</key>
		<string>Scene</string>
		<key>Lookup</key>
		<string>SCENE</string>
		<key>IsVip</key>
		<true/>
	</dict>
	<dict>
		<key>Key</key>
		<string>filter_arts_shade</string>
		<key>Image</key>
		<string>Shade</string>
		<key>Lookup</key>
		<string>SHADE</string>
		<key>IsVip</key>
		<true/>
	</dict>
	<dict>
		<key>Key</key>
		<string>filter_arts_shimmer</string>
		<key>Image</key>
		<string>Shimmer</string>
		<key>Lookup</key>
		<string>SHIMMER</string>
		<key>IsVip</key>
		<true/>
	</dict>
	<dict>
		<key>Key</key>
		<string>filter_arts_smear</string>
		<key>Image</key>
		<string>Smear</string>
		<key>Lookup</key>
		<string>SMEAR</string>
		<key>IsVip</key>
		<true/>
	</dict>
	<dict>
		<key>Key</key>
		<string>filter_arts_splash</string>
		<key>Image</key>
		<string>Splash</string>
		<key>Lookup</key>
		<string>SPLASH</string>
		<key>IsVip</key>
		<true/>
	</dict>
	<dict>
		<key>Key</key>
		<string>filter_arts_stamp</string>
		<key>Image</key>
		<string>Stamp</string>
		<key>Lookup</key>
		<string>STAMP</string>
		<key>IsVip</key>
		<true/>
	</dict>
	<dict>
		<key>Key</key>
		<string>filter_arts_vision</string>
		<key>Image</key>
		<string>Vision</string>
		<key>Lookup</key>
		<string>VISION</string>
		<key>IsVip</key>
		<true/>
	</dict>
	<dict>
		<key>Key</key>
		<string>filter_arts_wish</string>
		<key>Image</key>
		<string>Wish</string>
		<key>Lookup</key>
		<string>WISH</string>
		<key>IsVip</key>
		<true/>
	</dict>
	<dict>
		<key>Key</key>
		<string>filter_arts_woodland</string>
		<key>Image</key>
		<string>Woodland</string>
		<key>Lookup</key>
		<string>WOODLAND</string>
		<key>IsVip</key>
		<true/>
	</dict>
</array>
</plist>
